@import './_reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
  background: #2697FF;
  font-family: 'Montserrat', sans-serif;
}

.mainwrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 10px;
}